@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Desde del 2018 dando servicios de entrega y protección</p>

<p>Creada en el 2018, FLECHA DORADA es un servicio creado para el envío de paquetes de usuarios Registrados.Es un servicio privado que mediante al resgistro de una pagina web , puede hacer pedidos de envío en la ciudad de Buenos Aires de cierto tamaño y peso. Los envíos son satisfactoriamente protegidos por el sistema de la falta de inseguridad que hay en nuestra bendita ciudad.</p>
<p>FLECHA DORADA está construída para el servicio de encomienda privada. Para cualquier uso que no corresponda a nuestras normas será desafectado dicho pedido.</p>
