@model TodoAddress

<form asp-action="AddAddress" method="POST">
    <label asp-for="Title">Add new Address:</label>
    <input asp-for="Title">Addres:</label>
    <input asp-for="Address" id="address">
    
    
    <button type="submit">Add</button>
    
    
</form>